<%- include ../header %>
<link rel="stylesheet" href="stylesheets/themes/default/style.min.css" />
<style>
    #department_tree {
        padding: 10px 0; 
    }
    #search{
        box-shadow:inset 0 0 4px #eee;
        width:120px; 
        margin:0;
        padding:6px 12px; 
        border-radius:4px;
        border:1px solid silver;
        font-size:1.1em;
    }
</style>
<script src="javascripts/jstree.min.js"></script>
<script>
    var info
    function showinfo(text) {
        info.text(text);
    }

    $(function () {
        $('#infobox').hide();
        info = $("#info");
        var data = <%- JSON.stringify(department) %> ;
                data.type = 'root';

        $('#department_tree')
                .jstree(
                        {"core": {
                                "animation": 0,
                                "check_callback": true,
                                "themes": {"stripes": true, "variant": "large"},
                                'data': data
                            },
                            "types": {
                                "#": {"max_children": 1, "max_depth": 6, "valid_children": ["root"]},
                                "root": {"icon": "images/home.png", "valid_children": ["default"]},
                                "default": {"icon": "images/customers.png", "valid_children": ["default"]}
                            },
                            "plugins": ["dnd", "search", "state", "types", "unique", "wholerow"]

                        })
                .on('changed.jstree', function (e, data) {
                    if (data && data.selected && data.selected.length) {
                        $('#detailContent').show();
                        $('#department_name').html(data.node.text);
                    } else {
                        $('#detailContent').hide();
                    }
                })
                .on('delete_node.jstree', function (e, data) {
                    save();
                })
                .on('move_node.jstree', function (e, data) {
                    save();
                })

                .on('create_node.jstree', function (e, data) {
                    save();

                })
                .on('rename_node.jstree', function (e, data) {
                    console.info("重命名");
                    save();
                });
                
                $( "#dialog-delete" ).dialog({
                    modal: true,
                    autoOpen: false,
                    buttons: {
                    '确定': function() {
                            department_delete();
                            $( this ).dialog( "close" );
                         },
                     '放弃': function() {
                            $( this ).dialog( "close" );
                         }
                    }
                });
                




        var to = false;
        $('#search').keyup(function () {
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function () {
                var v = $('#search').val();
                $('#department_tree').jstree(true).search(v);
            }, 250);
        });

    });
    

    function department_create() {
        var ref = $('#department_tree').jstree(true),
                sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        sel = ref.create_node(sel, {type: "default"});
        if (sel) {
            ref.edit(sel);
        }
        //  showinfo("已修改，请点击'保存'按钮");
    }
    function openDeleteDialog(){
        $( "#dialog-delete" ).dialog( "open");
    }
    function department_rename() {
        var ref = $('#department_tree').jstree(true),
                sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        sel = sel[0];
        if (sel in ['1', '2', '3', '100']) {
             info_error("基础结构不能修改。");
            return;
        }
        ref.edit(sel);
    }

    function department_delete() {
        var ref = $('#department_tree').jstree(true),
                sel = ref.get_selected();
        if (!sel.length) {
            return false;
        }
        if (sel[0] in ['1', '2', '3', '100']) {
             info_error("基础结构不能删除。");
            return;
        }
        ref.delete_node(sel);
    }
    ;
    function save() {
        console.info("保存");
        info_saving();
        var ref = $('#department_tree').jstree(true);
        var json = ref.get_json(null, {
            no_state: false,
            no_data: true,
            flat: false
        });
        showinfo("请稍后,正在保存....");
        $.ajax({
            type: 'POST',
            url: "/departmentSave",
            data: {department: json},
            dataType: "json",
            success: function (text) {
                console.info(text);
                if (text === 200) {
                    info_success();

                } else {
                    info_error('保存出错了，稍后再试吧。');
                }
            },
            error: function (XMLHttpRequest, textStatus) {
                showinfo(textStatus);
            }
        });

    }
    ;
    /**
     * 保存
     * @returns {undefined}
     */
    function info_saving() {
        $('#infobox').removeClass('success').removeClass('error').addClass('waitting').show();
        //$('#infobox').addAttr('class','waitting');
        $('#info').text('正在保存...');
        hide_info();
    }
    function info_success() {
        $('#infobox').removeClass('waitting').removeClass('error').addClass('success').show();
        $('#info').text('保存成功。');
        hide_info();
    }
    function info_error(text) {
        $('#infobox').removeClass('waitting').removeClass('success').addClass('error').show();
        $('#info').text(text);
        hide_info();
    }
    
  
    
    function hide_info() {
        setTimeout(function () {
            $('#infobox').fadeTo(400, 0, function () { // Links with the class "close" will close parent
                $(this).slideUp(400);
            });
        }, 2000);
    }
</script>

<%- include ../body %>  
<div class="content-box column-left"><!-- Start Content Box -->

    <div class="content-box-header">
        <h3>部门结构</h3>
        <ul class="content-box-tabs">

            <li></li> <!-- href must be unique and match the id of target div -->

        </ul>


        <div class="clear"></div>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">
        <div class="notification  png_bg" id="infobox">
            <a href="#" class="close"><img src="images/icons/cross_grey_small.png" title="关闭提示信息" alt="关闭" /></a>
            <div id="info">

            </div>
        </div>
        <div class="row">
            <div >
                <button type="button" class="button" onclick="department_create();">新建子单位</button>
                <button type="button" class="button" onclick="department_rename();">重命名</button>
                <button type="button" class="button" onclick="openDeleteDialog();">删除</button>
                <input type="text" class="text-input" id="search" placeholder="搜索">



            </div>

        </div>

        <div id="department_tree"  >




        </div>
    </div> <!-- End .content-box-content -->



</div> <!-- End .content-box -->
<div class="content-box column-right" id="detailContent">
    <div class="content-box-header">
        <h3>部门信息</h3>
        <ul class="content-box-tabs">
            <li> <button >编辑</button></li> <!-- href must be unique and match the id of target div -->
        </ul>


        <div class="clear"></div>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content" >
            <p>
                <h3><label id="department_name"></label></h3>
            </p>
             <p>
                <label>部门负责人:</label><label>123</label>
            </p>
            <p>
                <label>部门地址:</label>
                123
            </p>
            <p>
                <label>联系电话:</label>
                123
            </p>
            
    </div>

</div>


<div id="dialog-delete" title="删除部门">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
      您确定要删除这个部门吗？
  </p>
 
</div>


<%- include ../footer %>