
			<div class="clear"></div> <!-- End .clear -->
			<!-- End Notifications -->
			<div id="footer">
				<small> 
					欢迎使用
						<!--&#169; Copyright 2014 WiseWeb.com| Powered by JCB-->
				</small>
			</div><!-- End #footer -->
			
		</div> <!-- End #main-content -->
		
	</div></body>
</html>
