<!DOCTYPE html>
<html>
 <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<title>系统监控</title>
	<link rel="stylesheet" href="stylesheets/jquery-ui.css">
	<link rel="stylesheet" href="stylesheets/reset.css" type="text/css" media="screen" />
	
	<link rel="stylesheet" href="stylesheets/invalid.css" type="text/css" media="screen" />	
	<link rel="stylesheet" href="stylesheets/style2.css" type="text/css" media="screen" />   
        <!-- <link rel="stylesheet" href="stylesheets/blue.css" type="text/css" media="screen" /> 
        <link rel="stylesheet" href="stylesheets/red.css" type="text/css" media="screen" />-->
  	<script src="javascripts/jquery-1.11.1.min.js"></script>
  	<script src="javascripts/jquery-ui.js"></script>
 	<script src="javascripts/simpla.jquery.configuration.js"></script>

 		
 	