<%- include ../header %>

<%- include ../body %>  
<ul class="shortcut-buttons-set">
				
				<li><a class="shortcut-button" href="/newssupportNew"><span>
					<img src="images/icons/pencil_48.png" alt="icon" /><br />
					新建新闻支持
				</span></a></li>
				<% if(false){%>
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/paper_content_pencil_48.png" alt="icon" /><br />
					Create  Page
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/image_add_48.png" alt="icon" /><br />
					Upload an Image
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/clock_48.png" alt="icon" /><br />
					Add an Event
				</span></a></li>
				
				<li><a class="shortcut-button" href="#messages" rel="modal"><span>
					<img src="images/icons/comment_48.png" alt="icon" /><br />
					Open Modal
				</span></a></li>
                                <li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/pencil_48.png" alt="icon" /><br />
					Write an Article
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/paper_content_pencil_48.png" alt="icon" /><br />
					Create  Page
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/image_add_48.png" alt="icon" /><br />
					Upload an Image
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/clock_48.png" alt="icon" /><br />
					Add an Event
				</span></a></li>
				
				<li><a class="shortcut-button" href="#messages" rel="modal"><span>
					<img src="images/icons/comment_48.png" alt="icon" /><br />
					Open Modal
				</span></a></li>
                                <li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/pencil_48.png" alt="icon" /><br />
					Write an Article
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/paper_content_pencil_48.png" alt="icon" /><br />
					Createa  Page
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/image_add_48.png" alt="icon" /><br />
					Upload an Image
				</span></a></li>
				
				<li><a class="shortcut-button" href="#"><span>
					<img src="images/icons/clock_48.png" alt="icon" /><br />
					Add an Event
				</span></a></li>
				
				<li><a class="shortcut-button" href="#messages" rel="modal"><span>
					<img src="images/icons/comment_48.png" alt="icon" /><br />
					Open Modal
				</span></a></li>
                                <% }%>
				
			</ul><!-- End .shortcut-buttons-set -->

<%- include ../footer %>