<%- include ../header %>
<script src="javascripts/jquery-ui-timepicker-addon.js"></script>
<style>
    .attention {
        /* background: url("../images/icons/exclamation.png") no-repeat scroll 10px 11px #fffbcc;*/
        border-color: #e6db55;
        color: #666452;
    }

</style>
<script>
    $(function() {
//-------------网易新闻-------------------
        //弹窗样式
        $("#dialog").dialog({
            autoOpen: false,  //设置对话框打开的方式 不是自动打开
            show: "blind",    //打开时的动画效果
            hide:"blind",    //关闭是的动画效果
            modal:true,          //true代表运用遮罩效果
            buttons: {        //添加按钮的操作
                "确定": function () {
                    choose();
                    $(this).dialog("close");//关闭对话框

                },
                "取消": function () {
                    $(this).dialog("close");
                }
            }
            });

        var name = $("#taskname");
        var url = $("#url");
        var doc = $("#doc");
        var area = $("#area");
        var allFields = $([]).add(name).add(url).add(doc);

        var info = $("#163_addInfo");
        var infobox = $("#infobox");
        var urlRegex = "^((http)?://)?comment\\.[0-9a-z_!~*'().&=+$%-]+\\.163\.com/.*/[0-9A-Z]+/[0-9A-Z]+\.html.#";
        $("#doSubmit").click(function() {
            var bValid = true;

            allFields.removeClass("ui-state-error");
            bValid = bValid && checkLength(name, "任务名称", 1, 200);
            bValid = bValid && checkLength(url, "任务地址", 1, 200);
          //  bValid = bValid && checkRegexp(sub_count, /^[0-9]*$/, "请输入正确数量。");

            bValid = bValid && checkTime();
            bValid = bValid && checkRegexp();

//            if (sub_count.val() < 1) {
//                updateTips("数量必须大于0.");
//                bValid = bValid && false;
//            }
//            if (sub_count.val() > 100) {
//                updateTips("数量必须小于100.");
//                bValid = bValid && false;
//            }
            if (doc.val() <= 100) {
                updateTips("语料为空.");
                bValid = bValid && false;
            }
            if (bValid) {
                var list=getCount();
                var param = {
                    task: $("#task").val(),
                    taskname: name.val(),
                    url: url.val(),
                    task_type: $("#task_type").val(),
                    schedule: list,
                    area: $("#area").val(),
                    doc: $("#doc").val()

                };
                updateTips2("正在提交，请稍后...");
                $("#duSubmit").hide();
                $.ajax({
                    type: 'POST',
                    url: "/newsCommentNew",
                    data: param,
                    dataType: "text",
                    success: function(text) {
                        console.info(text);
                        if (text === '1') {
                            updateTips2("添加成功,页面即将调换到列表页。");
                            setTimeout(function() {
                                location.href = "/mytask";
                            }, 1000);
                        } else {
                            updateTips2(text);
                        }
                    },
                    error: function(XMLHttpRequest, textStatus) {
                        updateTips("添加出错了，请稍后再试。");
                    }
                });
            }

        });
        //获取控量参数 str= : : ;(格式)
        function getCount(){
            var str = "";
            var index = $("#val1").val();
            for(var i=0;i<=index;i++){
                if($("#startTime"+i).val()!="" && $("#endTime"+i).val()!="" && $("#sub_count"+i).val()!=""){
                    str+= $("#startTime"+i).val()+ ":";
                    str+= $("#endTime"+i).val()+ ":";
                    str+= $("#sub_count"+i).val()+ ";";
                }
            }
            return str;
        }
        // 加载添加控量
        $("#add").click(
                function() {
                    var val1 = $("#val1").val();
                    var id = ++val1;
                    var html =' <div id="but'+id+'"><p>从<input type="text" id="startTime'+id+'"  placeholder="开始时间" class="text-input datepicker" >  '+
                            ' 至<input type="text" id="endTime'+ id +'"  placeholder="结束时间"  class="text-input datepicker">时间段内,执行'+
                            '<input type="text" placeholder="评论次数" id="sub_count'+id+'" class="text-input">次评论&nbsp;&nbsp;'+
                            '<img alt="取消" src="images/icons/close.png" id="cancel" onclick="toCancel('+id+') ;" ></p></div>';
                    $("#count").append(html);
                    $("#val1").val(id);
                    $(".datepicker").datetimepicker({dateFormat: "yy-mm-dd"});
                });

        // 加载执行地区--  地区从后台获取
        $("#sec").click(
                function() {
                   // $.post("#/...",function(data) {//返回json类型的值
                       // if(data){
                          // if(true){
                               //弹窗显示
                              var area=[
                                 { id:1001, name:"北京",pid:"1",flag:"0"},
                                 { id:1002, name:"上海",pid:"2",flag:"0"},
                                 { id:1003, name:"广州",pid:"3",flag:"0"}
                             ];
                    //<strong><input type="checkBox" id="checkAll" onclick="selectAll()" />全选</strong>
                              var html='<strong><input type="checkBox" id="checkAll" onclick="selectAll()" />全选</strong>';
                             for(var  i=0;i<area.length;i++){
                                 html+='<div><input type="checkbox" name="city" value="'+area[i].name+'" >'+area[i].name+'</div>';
                            }
                               //$("#dialog").append(html);
                            $("#dialog").html(html);
                     //   }

                    $("#dialog").dialog("open");  //open参数  作用  打开对话框
                  //  });
                });
           function updateTips(t) {
            infobox.removeClass("information");
            infobox.addClass("error");
            info.text(t);
            setTimeout(function() {
                infobox.removeClass("error");
                infobox.addClass("information");
            }, 2000);
        }


        //--------------------------
        function updateTips2(t) {
            info.text(t);
        }

        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips(n + " 输入有误");
                return false;
            } else {
                return true;
            }
        }

        //评论数量的校验
        function checkRegexp(){
            var index = $("#val1").val();
            var reg = /^\d+$/;
            for (var i = 0; i <= index; i++) {
                if($("#startTime"+i).val()!="" && $("#endTime"+i).val()!=""){//在开始时间和结束时间都不为空的情况下才进行数量的校验
                    var sub_count=$("#sub_count" + i).val();
                    if (!reg.test(sub_count)|| (sub_count == '0')){
                        updateTips("请输入有效的数量");
                        return false;
                    }else{
                        if( $("#sub_count" + i).val() < 0 || $("#sub_count" + i).val() >= 100 ){
                            updateTips("数量必须在0到100之间");
                            return false;
                        }
                    }
                }
            }
            return true;
        }
        //控量输入时间的校验
        function checkTime(){
            var index = $("#val1").val();
                if($("#startTime0").val() >= $("#endTime0").val()){
                    updateTips("结束时间必须大于开始时间");
                    return false;
                }
            if(index>=1){
                for(var i=1;i<=index;i++){
                   if($("#startTime"+i).val()!="" || $("#endTime"+i).val()!="" || $("#sub_count" + i).val()!="" ){
                       if($("#startTime"+i).val()>=$("#endTime"+i).val()){
                           updateTips("结束时间必须大于开始时间");
                           return false;
                       }else{
                           for(var j=0;j<=i-1;j++){
                               if($("#startTime"+i).val()< $("#endTime"+j).val()){
                                   updateTips("时间段不能重叠且请按时间顺序添加控量");
                                   return false;
                               }
                           }
                       }
                    }else{
                       return true;
                   }
                }
                return true;
            }
            return true;
        }

        //格式化日期
        function p(s) {
            return s < 10 ? '0' + s: s;
        }
        $(".datepicker").datetimepicker({dateFormat: "yy-mm-dd"});

        var date = new Date();
        var d = date.getFullYear() + "-" + p((date.getMonth() + 1)) + "-" +p( date.getDate()) + " " +p(date.getHours()) + ":" + p(date.getMinutes());
        $("#startTime0").val(d);
        date.setHours(date.getHours() + 1);
        var d = date.getFullYear() + "-" + p((date.getMonth() + 1)) + "-" +p( date.getDate()) + " " +p(date.getHours()) + ":" + p(date.getMinutes());
        $("#endTime0").val(d);

    });


    function toCancel(obj){
         var id=obj;
         $("#but"+id).hide();
         $("#startTime"+id).val("");
         $("#endTime"+id).val("");
         $("#sub_count"+id).val("");
    }
    function choose(){
        var str = document.getElementsByName("city");
        var num = str.length;
        var chestr ="";
        for(var i=0;i<num;i++){
            if(str[i].checked == true){
                chestr +=str[i].value+" ";
                $("#area").attr("value",chestr);
            }
        }
    }

    function selectAll(){
        var checklist = document.getElementsByName ("city");
        if(document.getElementById("checkAll").checked){
            for(var i=0;i<checklist.length;i++){
                checklist[i].checked = 1;
            }
        }else{
            for(var j=0;j<checklist.length;j++){
                checklist[j].checked = 0;
            }
        }
        choose();
    }
</script>


<%- include ../body %>

<div class="notification information png_bg" id="infobox">
    <div id="163_addInfo">
        请填写以下内容。
    </div>
</div>
<div class="content-box"><!-- Start Content Box -->

    <div class="content-box-header">
        <h3>创建网易新闻评论任务</h3>
        <ul class="content-box-tabs">
            <li><a href="/newtask" class="button">返回</a></li> <!-- href must be unique and match the id of target div -->
        </ul>

        <div class="clear"></div>
    </div> <!-- End .content-box-header -->
    <div class="content-box-content">



        <form action="/#" >
            <fieldset>
                <input type="hidden" name="task" id="task" value="303"/>
                <input type="hidden"  id="task_type" value="901"/>
                <p>
                    <label>任务名称</label>
                    <input class="text-input small-input" type="text" id="taskname" name="small-input" value="未命名网新评论任务" /> <!-- Classes for input-notification: success, error, information, attention -->
                </p>

                <p>
                    <label>新闻连接</label>
                    <input class="text-input medium-input" type="text" id="url" name="medium-input" /> <span class="input-notification information png_bg">输入网站地址</span>
                </p>

                <p>
                    <label>评论语料</label>
                    <textarea class="text-input textarea wysiwyg" id="doc" name="textfield" cols="79" rows="10"></textarea>
                    <br /><small>每一个换行为一条语料</small>

                </p>
                <p>
                    <label>执行控制 </label>

                    <input type="hidden" id="val1" value="0" >
                <div id="count">
                    <div id="but0">
                    <p> 从<input type="text" id="startTime0"  placeholder="开始时间"  class="text-input datepicker">
                       至<input type="text" id="endTime0"  placeholder="结束时间"  class="text-input datepicker">时间段内,执行<input type="text" placeholder="评论次数" id="sub_count0" class="text-input">次评论&nbsp;
                   </p>
                   </div>
                </div>
                <span><img alt="添加" src="images/icons/add.png" id="add"></span>
                </p>
                <p>
                    <label>执行地区&nbsp;&nbsp;<img alt="查看地区" src="images/icons/sec.png" id="sec"></label>
                    <input class="text-input medium-input" type="text" id="area" name="area" readonly />&nbsp;&nbsp;
                </p>


                <p>
                <div class="button" id="doSubmit">&nbsp &nbsp 提交 &nbsp &nbsp</div>
                </p>



            </fieldset>
        </form>
        <!--弹框内容-->
        <div id="dialog" title="选择地区">
        </div>



    </div> <!-- End .content-box-content -->

</div> <!-- End .content-box -->



<%- include ../footer %>